<tr class="my-table-tr">
        <th scope="row"><%= user.state %></th>
        <td><img src="<%= user.team_img %>" alt="<%= user.team %>" class="my-team-image"></td>
        <td><img src="<%= user.profile_img %>" alt="<%= user.team %>" class="my-profile-image"><%= user.name %></td>
        <td><%= user.team %></td>
        <td><%= user.status %></td>
</tr>