<% layout('../template/lapyae') -%>


<table class="table table-striped mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Team</th>
      <th scope="col">Name</th>
      <th scope="col">Team Name </th>
      <th scope="col">Status </th>
    </tr>
  </thead>
  <tbody>

    <% users.forEach(function(user){ %>
        <tr>
            <th scope="row"><%= user.state %></th>
            <td><img src="<%= user.team_img %>" alt="<%= user.team %>" class="my-team-image"></td>
            <td><%= user.name %></td>
            <td><%= user.team %></td>
            <td><%= user.status %></td>
        </tr>
    <% }); %>
    
    <!-- <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr> -->
  </tbody>
</table>